/* analemma.css */
/* Joseph Mack jmack@wm7d.net */
.toc{
	margin-right: 40%;
	/*goes to right edge of page
	margin-right: auto;	
	*/
	}

div.mediaobject{
	float: left;
	margin: 0 10px 10px 0;
	border: 1px solid #666;
	padding: 2px;
	}

#-------------------------------

